[*]
charset=utf-8
insert_final_newline=false
indent_style=space
indent_size=2

[{composer.lock,.babelrc,jest.config,.stylelintrc,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[*.js]
indent_style=space
tab_width=2

ij_javascript_force_semicolon_style = false
ij_javascript_use_semicolon_after_statement = false

[*.vue]
indent_style=space
tab_width=1

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

