@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

:root {
  /* Font */
  --font-family: 'Open Sans', sans-serif;

  /* Colors */
  --spotify-green: #1db954;
  --spotify-black: #191414;

  --color-default: #343030;
  --color-default-light: #454242;

  --color-default-opposite: #ffffff;

  --color-grey: #888888;
  --color-light-grey: #f7f7f7;

  --color-background-grey: #f0f0f0;

  --color-danger: #e2403e;
  --color-warning: #ffcb5d;
  --color-info: #4a97cc;

  /* Typography */
  --font-size-playlist-name: 36px;
  --font-size-choose-playlist: 40px;
  --font-size-add-track-button: 18px;

  /* Dimensions */
  --grid-max-width: 1000px;
  --grid-padding: 20px;

  /* Media Queries */
  --max-width-small: 768px;

  /* Transitions */
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

  /* Z-indices */
  --z-index-statistics-panel: 1000;
  --z-index-modal-backdrop: 2000;
  --z-index-modal: 2001;
}

@media screen and (max-width: 1080px) {
  :root {
    --grid-padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --font-size-playlist-item: 14px;
    --font-size-playlist-name: 24px;
    --font-size-choose-playlist: 34px;
    --font-size-add-track-button: 16px;
  }
}

/* Vue awesome icon settings (scale with text) */
.fa-icon {
  width: auto;
  height: 1em; /* or any other relative font sizes */

  /* You would have to include the following two lines to make this work in Safari */
  max-width: 100%;
  max-height: 100%;
}
