:root {
  /* Colors */
  --spotify-green: #1DB954;
  --spotify-black: #191414;

  --color-default: #343030;
  --color-default-light: #454242;
  --color-danger: #e2403e;
  --color-warning: #ffcb5d;
  --color-info: #4a97cc;
  --color-background-grey: #F0F0F0;
  --color-light-grey: #F7F7F7;
  --color-track-item: #fcfcfc;

  /* Typography */

  /* Dimensions */
  --grid-max-width: 1000px;
  --grid-padding: 20px;
}

/* Media Queries */
@media screen and (max-width: 1080px) {
  :root {
    --grid-padding: 40px;
  }
}