{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "rules": {
    "no-trailing-spaces": "off",
    "vue/html-closing-bracket-newline": ["error", { "multiline": "always" }],
    "vue/max-attributes-per-line": ["error", { "singleline": 2 }],
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": [
        "acc", // for reduce accumulators
        "state" // for vuex state mutations
      ]
    }]
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js",".vue"]
      }
    }
  }
}