{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:vue/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-trailing-spaces": "off",
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
    "vue/html-closing-bracket-newline": ["error", { "multiline": "always" }],
    "vue/max-attributes-per-line": "off",
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "any"
        }
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "acc", // for reduce accumulators
          "state" // for vuex state mutations
        ]
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".vue"]
      }
    }
  }
}
